.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: block;
}
.select-button {
    margin-left: 6px;
    margin-right: 6px;
    height: 40px;
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
}
.select-button-disabled {
    margin-left: 6px;
    margin-right: 6px;
    height: 40px;
    background-color: #f59f00;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
}
.modal-from {
    margin-top: 50%;
    opacity: 1;
}
.modal-to {
    margin-top: 50%;
    opacity: 1;
}
.calendar {
    margin: auto;
}
.check.icon {
    color: white;
    font-size: 20px;
}