.request-date-wrapper {
    width: 326px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 5px 8px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.request-user-image {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.request-user-name {
    padding-left: 7px;
    font-size: 16px;
    font-weight: 500;
}
.request-date {
    padding-top:10px;
    padding-left:10px;
    font-size: 20px;
}

.request-senior-wrapper-selected {
    display: flex;
    align-items: center;
    margin-top:2px;
    margin-left: 10px;
    padding-top:2px;
    width: 300px;
}

.request-junior1-wrapper-selected {
    display: flex;
    align-items: center;
    margin-top:2px;
    margin-left: 10px;
    padding-top:2px;
    float: left;
    width: 300px;

}
.request-junior2-wrapper-selected {
    display: flex;
    align-items: center;
    margin-top:2px;
    margin-left: 10px;
    padding-top:2px;
    float: right;
    width: 300px;
}
.request-senior-wrapper-deselected {
    display: flex;
    align-items: center;
    margin-top:2px;
    margin-left: 10px;
    padding-top:2px;
    width: 300px;
}

.request-junior1-wrapper-deselected {
    display: flex;
    align-items: center;
    margin-top:2px;
    margin-left: 10px;
    padding-top:2px;
    float: left;
    width: 300px;
}
.request-junior2-wrapper-deselected {
    display: flex;
    align-items: center;
    margin-top:2px;
    margin-left: 10px;
    padding-top:2px;
    float: right;
    width: 300px;
}
.delete-icon {
    float: right;
    font-size: 30px;
    margin-right: 13px;
    color: grey;
}

.add {
    position: absolute;
    right: 35px;
}

.added {
    color: lightseagreen;
    position: absolute;
    right: 35px;
}