
.header-wrapper {
  display: flex;
  align-items: center;
  width: 360px;
  height: 44px;
  background: #f59f00;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  font-family: Roboto;
  color: white;
  position: fixed;
  z-index: 300;
}

.hamburger {
  background: transparent;
  width: 20px;
  height: 16px;
  margin-left: 12px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.hamburger-top {
  width: 100%;
  height: 3px;
  background: white;
  margin-bottom: 3.5px;
}
.hamburger-mid {
  width: 100%;
  height: 3px;
  background: white;
}
.hamburger-bot {
  width: 100%;
  height: 3px;
  background: white;
  margin-top: 3.5px;
}
.header {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}
.user-self {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 16px;
  cursor: pointer;
}
.frame {
  position: fixed;
  margin: -27px 50px 0 -50px;
  margin-top: -27px;
  width: 1000px;
  background: white;
  height: 10px;
  z-index: 1;
}
.homeicon {
  font-size: 24px;
  padding-left: 10px;
  padding-top: 4px;
  color: white;
  cursor: pointer;
}